@import "tailwindcss";
@source "./**/*.php";
@import "tw-animate-css";

@import "../src/styles/fonts.css";
@import "../src/styles/theme.css";

@layer utilities {
    .fade-up {
        @apply opacity-0 translate-y-10 transition-all duration-1000 ease-out;
    }

    .fade-up.is-visible {
        @apply opacity-100 translate-y-0;
    }

    .grow-y {
        @apply h-0 transition-all duration-1000 ease-out;
    }

    .grow-y.is-visible {
        @apply h-16;
    }
}